/* HEADER */
header{
  width: 100%;
  height: 55px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
}
header div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
header img{
  z-index: 2;
}
header a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
header a:hover{
  color: #92bdd8;
}
header a:active{
  color: #b2b2b2;
}
