@font-face {
  font-family: "Montserrat";
  src: url(fonts/montserrat.ttf);
}
body{
  margin: 0;
  font-family: "Montserrat";
  margin: 0;
  background: url(images/body-back.jpg) no-repeat;
  overflow-x: hidden;
}
header{
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 90px 0 38px;
}
header a{
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin-left: 40px;
}
.first-block{
  height: 115vh;
  background: transparent;
  color: #fff;
  padding-left: 105px;
  position: relative;
}
h1{
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
}
.first-block p{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.contact-btn{
  display: block;
  width: 226px;
  height: 56px;
  background: #35D0A2;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  margin-top: 37px;
}
.social{
  position: absolute;
  bottom: 36px;
  right: 48px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
/* PARALLAX ELEMENTS */
.first-block img{
}
.forest img, .mount1 img, .mount2 img, .mount3 img, .garbage img, .sky1 img{
  width: 100vw;
}
.scene{
  transform: translateY(var(--translateY));
will-change: transform;
}
.forest{
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: -1;
}
.mount1{
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -2;
}
.mount2{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3;
}
.mount3{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -4;
}
.garbage{
  position: absolute;
  left: 0;
  bottom: -20px;
  z-index: -5;
}
.sun{
  position: absolute;
  bottom: 100px;
  left: 30%;
  z-index: -6;
}
.sky1{
  position: absolute;
  bottom: 310px;
  left: 80px;
  z-index: -7;
}
.sky2{
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -8;
}
.sky3{
  position: absolute;
  top: -60px;
  right: 0;
  z-index: -9;
}
.birds{
  position: absolute;
  top: 0;
  right: 80px;
  z-index: -1;
}
.excavator{
  position: absolute;
  bottom: 350px;
  right: 190px;
  z-index: -6;
}
.pack{
  position: absolute;
  bottom: 25px;
  right: 180px;
  z-index: -7;
}
/* ANIMATION */
.coleb {
/* -webkit-animation: swing 15s ease 0s infinite;
-moz-animation: swing 15s ease-in-out 0s infinite; */
animation: swing 15s ease-in-out infinite;
/* -webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0; */
transform-origin: 50% 0;
}

@keyframes swing{
  20% { transform: rotate(25deg); }
  40% { transform: rotate(-20deg); }
  60% { transform: rotate(15deg); }
  80% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}
/*
@-webkit-keyframes swing{
0% { -webkit-transform: rotate(0); }
5% { -webkit-transform: rotate(12deg); }
10% { -webkit-transform: rotate(-10deg); }
15% { -webkit-transform: rotate(9deg); }
20% { -webkit-transform: rotate(-8deg); }
25% { -webkit-transform: rotate(7deg); }
30% { -webkit-transform: rotate(-6deg); }
35% { -webkit-transform: rotate(5deg); }
40% { -webkit-transform: rotate(-4deg); }
45% { -webkit-transform: rotate(3deg); }
50% { -webkit-transform: rotate(0); }
100% { -webkit-transform: rotate(0); }
}

@-moz-keyframes swing{
0% { -moz-transform: rotate(0); }
5% { -moz-transform: rotate(12deg); }
10% { -moz-transform: rotate(-10deg); }
15% { -moz-transform: rotate(9deg); }
20% { -moz-transform: rotate(-8deg); }
25% { -moz-transform: rotate(7deg); }
30% { -moz-transform: rotate(-6deg); }
35% { -moz-transform: rotate(5deg); }
40% { -moz-transform: rotate(-4deg); }
45% { -moz-transform: rotate(3deg); }
50% { -moz-transform: rotate(0); }
100% { -moz-transform: rotate(0); }
} */

/* .coleb {
	transform-origin: top center;
	animation: swing 2s ease infinite;
}
@keyframes coleb {
	20% { transform: rotate(15deg); }
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }
	80% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
} */

/* Who we are? */
.about-us{
  background: linear-gradient(180deg, #1A2C43 0%, #000000 55.21%);
  color: #fff;
  padding: 31px 0 0 57px;
  height: 100vh;
}
.about-us h3{
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 40px -57px;
}
.slider img{
  width: 450px;
  height: 230px;
  margin: 0;
}
.slick-slide{
  width: 450px;
  height: 230px;
  margin-right: 20px;
  outline: none;
}
/* Dots */
.my-dots {
  position: absolute;
  bottom: -90px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-left: -57px;

}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 46px;
  margin: 0 0 0 6px;
  cursor: pointer;
}

.my-dots li button {
  display: block;
  width: 46px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover:before {
  opacity: .75;
}

.my-dots li button:before{
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url(images/btn-off.svg);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.my-dots li.slick-active button:before {
  content: url(images/btn-on.svg);
  left: 50%;
  transform: translateX(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}

.info{
  display: flex;
  margin-top: 95px;
  align-items: center;
  padding-right: 7%;
  padding-bottom: 100px;
  justify-content: space-between;
}
.about-us p{
  font-weight:  normal;
  font-size: 16px;
  line-height: 29px;
  font-family: "Montserrat Light";
}
.about-us button{
  width: 380px;
  height: 56px;
  background: #3573D0;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat Light";
  font-size: 20px;
  line-height: 24px;
}
/* Шопперы */
.shoppers{
  height: 100vh;
  background: #FCFAF8;
  text-align: center;
  padding-top: 40px;
}
.shoppers h3{
  color: #142840;
  font-weight: 500;
  font-size: 42px;
  margin: 0;
  margin-bottom: 10px;
}
.shoppers p{
  font-weight: 200;
  font-size: 20px;
  line-height: 39px;
  color: #142840;
  margin: 0;
  font-family: "Montserrat Light";
}
.shoppers-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  height: 450px;
}
.shopper-container{
  width: 300px;
  height: 300px;
  background: #fff;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  transition: 0.4s;
  position: relative;
}
.shoppers img{
  width: 290px;
  height: 290px;
}
.price-wrapper{
   position: absolute;
  display: none;
}
.price p{
  margin: 0;
}
.price{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 42px;
  line-height: 51px;
  color: #1C2D44;
  text-align: left;
}
.price-label{
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #1C2D44;
}
.buy{
  width: 131px;
  height: 64px;
  background: #EA401B;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14), 0px 0px 3px rgba(0, 0, 0, 0.14);
}
.shopper-container:hover{
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14), 0px 0px 3px rgba(0, 0, 0, 0.14);
  width: 350px;
  height: 450px;
  transition: 0.4s;
}
.shopper-container:hover .price-wrapper{
  display: flex;
  position: absolute;
  bottom: 40px;
  width: 100%;
  justify-content:space-around;
  align-items: center;
}

/* Форма обратной связи */
.call-back{
  width: 100%;
  background: url(images/footer-back.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 90px;
}
.call-back h3{
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  margin: 0;
}
form{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 80px;
}
input{
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 200px;
  color: #fff;
  height: 30px;
  outline: none;
  font-size: 16px;
  line-height: 20px;
}
.name{
  margin-right: 15px;
}
.msg{
  width: 420px;
  margin-top: 35px;
}
input::-webkit-input-placeholder { color: #fff; opacity: 0.5; font-size: 16px; line-height: 20px; vertical-align: middle;}
input:-ms-input-placeholder { color: #fff; opacity: 0.5; font-size: 16px; line-height: 20px;}
input::-ms-input-placeholder { color: #fff; opacity: 0.5; font-size: 16px; line-height: 20px;}
input::placeholder { color: #fff; opacity: 0.5; font-size: 16px; line-height: 20px;}

.back{
  height: 56px;
  width: 226px;
  color: #fff;
  background: #3CB55E;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  margin-top: 60px;
}

/* Footer */
footer{
  height: 50px;
  background: transparent;
  margin-top: -50px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  position: relative;
}
footer p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat Light";
}
.design{
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}
